{% extends "layout.twig" %}
		{% block title %}
			{{ parent() }}
			Allgemein
		{% endblock %}
		
        {% block body %}
			  {{ parent() }}
			
			<p> &Ouml;ffnungszeiten:</p>
			</br>
			</br>
			
			
			<form method="post" action="../php/allgemein.php">
			<table>
			
				<tr>
			    	<td>
			    		Ge&ouml;ffnet von:
			    	</td>
			    	
			    	<td>
			    		<select name="offenvon" >
							
							{% for i in 6..22 %}
							<option {% if zeit.offenVon == i %} selected="selected" {% endif %} value="{{ i }}">
								{{ i }} Uhr
							</option>
							{% endfor %}
					
						</select>
			    	</td>
			  	</tr>
			  	
			  	
			  	
			  	
			  	<tr>
			    	<td>
			    		Ge&ouml;ffnet bis:
			    	</td>
			    	
			    	<td>
			    		<select name="offenbis" >
							
							{% for i in 6..22 %}
							<option {% if zeit.offenBis == i %} selected="selected" {% endif %} value="{{ i }}">
								{{ i }} Uhr
							</option>
							{% endfor %}
					
						</select>
			    	</td>
			  	</tr>
			  	
			  	
			  	
			  	
			  	<tr>
			    	<td>
			    		Saison von:
			    	</td>
			    	
			    	<td>
			    		
							<input class="datepicker2" type="text" name="saisonvon" value="{{ zeit.saisonvon }}" />
					
			    	</td>
			  	</tr>
			  	
			  	
			  	
			  	
			  	<tr>
			    	<td>
			    		Saison bis:
			    	</td>
			    	
			    	<td>
			    		
							<input class="datepicker2" type="text" name="saisonbis" value="{{ zeit.saisonbis }}" />
					
			    	</td>
			  	</tr>
			  	
			</table>
			<button type="submit">Speichern</button>
			</form>
			
	
		{% endblock %}
