{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		
		
		<div>Mitgliedsdaten:</div>
		</br>
		
		<table>
			<tr>
				<td>
					Geschlecht:
				</td>
				
				<td>
					{# Wenn ändern auf 1, wird Formular aktiviert #}
					{% if aendern == 1 %}
					
						<form method="post" action="../php/benutzereinstellungen.php">
						
						 <select name="geschlecht" >
						     <option {% if geschlecht == 'Herr' %}selected="selected"{% endif %} >Herr</option>
						     <option {% if geschlecht == 'Frau' %}selected="selected"{% endif %} >Frau</option>
						 </select>
						 
					{% else %}
					
						{% if geschlecht == "Herr" %}
							Herr
						{% elseif geschlecht == "Frau" %}
							Frau
						{% endif %}
		
					{% endif %}
				</td>
			</tr>			
			
			<tr>
				<td>
					Titel:
				</td>
				
				<td>
					{% if aendern == 1 %}
						<input type="text" name="titel" value="{{ titel }}" />
					{% elseif titel %}
						{{ titel }}
					{% endif %} 
				</td>
			</tr>
			
			<tr>
				<td>
			Vorname:
				</td>
				
				<td> 
					{% if aendern == 1 %}
						<input type="text" name="vorname" value="{{ vorname }}" />
					{% else %}
						{{ vorname }}
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td>
			Nachname:
				</td>
				
				<td> 
					{% if aendern == 1 %}
						<input type="text" name="nachname" value="{{ nachname }}" />
					{% else %}
						{{ nachname }}
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td>
					Geburtstag:
				</td>
				
				
			{# Geburtsdatum abfragen und formatieren #}
			{% if aendern == 1 %}
				<td> (TT)<input type="text" name="geburtstag" value="{{ geburtstag }}" /> </td>
				<td> (MM)<input type="text" name="geburtsmonat" value="{{ geburtsmonat }}" /> </td>
				<td> (JJJJ)<input type="text" name="geburtsjahr" value="{{ geburtsjahr }}" /> </td>
			{% elseif geburtstag %}
				<td>
					{{ geburtstag }}.{{ geburtsmonat }}.{{ geburtsjahr }}
				</td>
			{% endif %} 
			</tr>
			
			<tr>
				<td>
					Plz:
				</td>
				
				<td> 
					{% if aendern == 1 %}
						<input type="text" name="plz" value="{{ plz }}" />
					{% else %}
						{{ plz }}
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td>
					Ort: 
				</td>
				
				<td>
					{% if aendern == 1 %}
						<input type="text" name="ort" value="{{ ort }}" />
					{% else %}
						{{ ort }}
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td>
					Stra&szlig;e:
				</td>
				
				<td> 
					{% if aendern == 1 %}
						<input type="text" name="strasse" value="{{ strasse }}" />
					{% else %}
						{{ strasse }}
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td>
					Hausnummer:
				</td>
				
				<td>
					{% if aendern == 1 %}
						<input type="text" name="hausnummer" value="{{ hausnummer }}" />
					{% else %}
						{{ hausnummer }}
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td>
					E-Mail:
				</td>
				
				<td>
					{% if aendern == 1 %}
						<input type="text" name="useremail" value="{{ emailuser }}" />
					{% else %}
						{{ emailuser }}
					{% endif %}
				</td>
			</tr>
			
			<tr>
				<td>
					Telefon:
				</td>
				
				<td>
					{% if aendern == 1 %}
						<input type="text" name="telefon" value="{{ telefon }}" />
					{% elseif telefon %}
						{{ telefon }}
					{% endif %} 
				</td>
			</tr>
			
			{% if aendern == 1 %}
				<tr>
					<td>
						Passwort &auml;ndern:
					</td>
				</tr>
				
				<tr>
					{# Wenn Administrator angemeldet, wird "Altes Passwort" nicht angezeigt #}
					<td>
						{% if benutzerrecht == 1 %}Administratorpasswort: {% else %}Altes Passwort: {% endif %}
					</td>
					
					<td>
						<input type="password" name="pas" />
					</td>
				</tr>
				
				<tr>
					<td>
						Neues Passwort:
					</td>
					
					<td>
						<input type="password" name="pasneu" />
					</td>
				</tr>
				
				<tr>
					<td>
						Neues Passwort wiederholen:
					</td>
					
					<td>
						<input type="password" name="pastest" /> </br>
					</td>
				</tr>
			{% endif %}
			
			
			{# Benutzer sperren #}
			{% if benutzerrecht == 1 and aendern == 1 %}
				
				<tr>
					<td>
				 		Benutzer sperren:
				 	</td>
				 	
				 	<td> 
						 <select name="gesperrt" >
						     <option {% if gesperrt == 1 %}selected="selected"{% endif %} >JA</option>
						     <option {% if gesperrt == 0 %}selected="selected"{% endif %} >NEIN</option>
						 </select>
				 	</td>
				 </tr>
				 
			{% elseif gesperrt == 1 %}
				
				<tr>
					<td>
						<div id = "fehler">Benutzer gesperrt!</div>
					</td>
				</tr>
						
			{% endif %}
			
			
				 
			
			{# Drop Down für Rechte bei Administratoren#}
			<tr>
				<td>
					Recht:
				</td>
				
			{% if aendern == 1 and benutzerrecht == 1 %}
				
				<td>
					<select name="rechtuser" value='{{ rechtuser }}' >			
						{% for item in rechtliste %}
							<option {% if rechtuser == item %}selected="selected"{% endif %}>
								{{ item }}
							</option>
						{% endfor %}
					</select>
				 </td>
				 
			{% else %}
				<td>
					{{ rechtuser }}
				</td>
			{% endif %}
			</tr>
			
		
		
		
		
		
			{# Änderung bestätigen Button #}
			{% if aendern == 1 %}
					
				{% if changeuser %}
	   		   		<input type="hidden" name="{{ changeuser }}" />
	   		    {% endif %}
	   		    <tr>
					<td>
						<button type="submit" class="ym-button ym-save">Speichern</button>
					</td>
				</tr> 
			
			{% else %}
			
				<form method="post" action="../php/benutzereinstellungen.php">
				
					{% if changeuser %}
	   		   			<input type="hidden" name="{{ changeuser }}" />
	   		    	{% endif %}
	   		    	
	   		    	<tr>
	   		    		<td>
							<input type="hidden" name="aendern">
							<button type="submit" class="ym-button ym-edit">&Auml;ndern</button>
						</td>
					</tr>
					
				</form> 
			
			{% endif %}
			
			
			
			
			{# Benutzer anlegen Button #}
			{% if benutzerrecht == 1 %}
	    
	   		    <form method="post" action="../php/benutzeranlegen.php">
	   		    	<tr>
	   		    		<td>
	   		    			<input type="hidden" name="first">
							<button type="submit" class="ym-button ym-add">Benutzer anlegen</button>
						</td>
					</tr>
				</form> 
	
			{% endif %}	
			
			
			{# Benutzer löschen Button #}
			{% if benutzerrecht == 1 and aendern == 1 %}
	    
	   		    <form id= "loeschen" method="post" action="../php/benutzerloeschen.php">
	   		    	<tr>
	   		    		<td>
	   		    			<input type="hidden" name="{{ uid }}">
							<button type="submit" class="ym-button ym-delete">Benutzer l&ouml;schen</button>
						</td>
					</tr>
				</form> 
	
			{% endif %}	
			
						
			{# Wenn ändern auf 1, wird Formular aktiviert #}
			{% if benutzerrecht == 1%}
				<form method="post" action="../php/benutzereinstellungen.php">			
			
				{# Wenn Recht für änderung des Benutzers vorhanden ist #}
					   		      
					<tr>
						<td>
							Benutzer ausw&auml;hlen:
						</td>
		
		   		    	<td>
				   		    <ul>
					   			{% for key,value in mitglieder %}
					   				<li> 
					   				<form method="post" action="../php/benutzereinstellungen.php">
										<input type="hidden" name="{{ value }}">
										<input  class="ym-button ym-save" type="submit" value="{{ key }}">
									</form> 
					   				</li>
					   			{% endfor %}    
					   		</ul>
			   			</td>
			   		</tr>
		   		    
		   		    </br>
		   		    </br>
		   		    
				</form>
			{% endif %}
			
		</table>	
		
	{% endblock %}
