{% extends "layout.twig" %}
	{% block title %}
		{{ parent() }}
		Benutzer l&ouml;schen
	{% endblock %}
		
	{% block body %}
		{{ parent() }}
		
		
		<table class="tables">
			{# Aufforderung löschen bestätigen #}
			{% if benutzerrecht == 1 %}
			
			{% if geloescht %}
				<tr>
					<td colspan = 2>
						<div class="note"><b>{{ name }}</b> wurde aus der Datenbank gel&ouml;scht. </div>
					</td>
				</tr>
				
				<tr>
					<td>
					</td>
					
					<td>
						<form action="../php/benutzereinstellungen.php">
							<button type="submit">zur&uuml;ck</button>
						</form>
					</td>
				</tr>
									
			{% else %}
				
				<tr>
					<td colspan=2>
						
							<div class="ui-widget">
								<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; width: 400px; text-align: center;">
									<p>
										
										<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
										</span>
									
										<strong>Achtung: </strong>
										
										Wenn Sie mit l&ouml;schen best&auml;tigen, wird der Benutzer <b>({{ name }})</b> unwiederruflich gel&ouml;scht!
													
									</p>
								</div>
							</div>
						</td>
					</tr>
				
					<tr>
						<td>
	 						<h3>Sind Sie sicher?</h3>
	 					</td>
	 					
	 					<td>
							<form method="post" action="../php/benutzerloeschen.php">
			   		    		<input type="hidden" name="{{ uid }}">
			   		    		<input type="hidden" name="bestaetigt">
			   		    		<input type="hidden" name="geklickt">
								<button type="submit">Benutzer l&ouml;schen</button>
							</form>
						</td>
					</tr>
			{% endif %}
		
			{% endif %}
		
		</table>
	{% endblock %}
