{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		<table>
		
			<tr>
				<td colspan="2">
					<h2>Farben</h2>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
					<h3 class="middle">Sie k&ouml;nnen folgende Farben ausw&auml;hlen:</h3>
				</td>
			</tr>
		
		
			{% if fehlerleer %}
				<tr>
					<td colspan="2">
						<div class="ui-widget">
							<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; width: 400px; text-align: center">
								<p>
										
									<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
									</span>
								
									<strong>Achtung: </strong> 
									
									Es ist keine Farbe in der Datenbank vorhanden!
									
								</p>
							</div>
						</div>
					</td>
				</tr>
			{% endif %}
			
		
			<form method="post" action="../php/farben.php">
			
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "frei" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
					Platz frei:
					</td>
				
					<td>
						<select name="frei" >
							{% for key, value in farbarray %}
								
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "frei" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
								
							{% endfor %}
						</select>
					</td>
				</tr>
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "meins" %} style="background-color:{{ value }}"{% endif %}
						{% endfor %} >
						Platz von User besetzt:
					</td>
					
					<td>
						<select name="meins" >
							{% for key, value in farbarray %}
								
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "meins" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
								
							{% endfor %}
						</select>
					</td>
					
				</tr>
				
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "besetzt" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Platz besetzt:
					</td>
					
					<td>
						<select name="besetzt" >
							{% for key, value in farbarray %}
									
									<option 
										{% for key1, value1 in farbenaktuell %}
											{% if key1 == "besetzt" and value1 == key %} selected="selected" {% endif %}
										{% endfor %} 
										style="background-color:{{ key }}" value="{{ key }}">{{ value }}
									</option>
									
							{% endfor %}
						</select>
					</td>
				</tr>
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "zu" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Platz gesperrt/geschlossen:
					</td>
					
					<td>
						<select name="zu" >
							{% for key, value in farbarray %}
							
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "zu" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
								
							{% endfor %}
						</select>
					</td>
				</tr>
				
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "serie" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Serien:
					</td>
					
					<td>
						<select name="serie" >
							{% for key, value in farbarray %}
									
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "serie" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
							
							{% endfor %}
						</select>
					</td>	
				</tr>
				
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "turnier" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Turnier:
					</td>
					
					<td>
						<select name="turnier" >
							{% for key, value in farbarray %}
									
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "turnier" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
							
							{% endfor %}
						</select>
					</td>
				</tr>
				
			
			<tr>
				<td colspan = "2">
					<div class="middle">
						<button class="bt-middle" type="submit">Speichern</button>
					</div>
				</td>
			</tr>
			
			
		</form>
		
					
		{# Farben löschen #}
		{% if farbegeloescht %}
			<tr>
				<td colspan="2">
					<div class="important">Die Farbe wurde gel&ouml;scht</div>
				</td>
			</tr>
		{% endif %}
		
		
		
		<form method="post" action="../php/farben.php">
			
			<tr>
				<td><b>Farbe l&ouml;schen:</b></td>
				
				<td>
					<select name="loeschen" >
						{% for key, value in farbarray %}
							<option style="background-color:{{ key }}" value="{{ key }}">{{ value }}</option>
						{% endfor %}
				</td>
				
				</select>
			</tr>
			
			<tr>
				<td colspan = "2">
					<div class="middle">
						<button class="bt-middle" type="submit">L&ouml;schen</button>
					</div>
				</td>
			</tr>
			
		</form>
		
		
		
		
		<form method="post" action="../php/farben.php">
			
			<tr>
				<td>
					<b>Farbe hinzuf&uuml;gen:</b>
				</td>
			</tr>
			
			
			
			{# Farben hinzufügen #}
			
			<tr>
				<td>
					<div id="info">Info</div>
				</td>
			
				<td>
					<div id="infofeld">
						Der Farbcode besteht aus einer Raute (#) und vier Hexadezimalwerten. (z.B. #0099FF)
						
					</div>
				</td>
			</tr>
			
			
			{# Fehler/Infos #}
			{% if fehlercode or fehlerlaenge or fehlereingabe %}
				<tr>
					<td colspan="2">
						<div class="ui-widget">
							<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; width: 400px; text-align: center">
								<p>
									
									<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
									</span>
								
									<strong>Achtung: </strong> 
									
									{% if fehlercode %}
										Der von Ihnen eingegebene Code ist kein g&uuml;ltiger Farbcode!
									{% endif %}
										
									{% if fehlerlaenge %}
										Der Farbcode muss aus # und 6 Hexadezimalstellen bestehen!
									{% endif %}
									
									{% if fehlereingabe %}
										Bitte f&uuml;llen Sie beide Felder!
									{% endif %}
									
								</p>
							</div>
						</div>
					</td>
				</tr>
			{% endif %}
			
			{% if farbeaufgenommen %}
				<tr>
					<td colspan="2">
						<p class="important">Die Farbe wurde ins System aufgenommen.</p>
					</td>
				</tr>
			{% endif %}
					
			
			
			
			
			<tr>
				<td>
					Farbcode:
				</td>
				
				<td>
					<input type="text" name="farbeneu" />
				</td>
			</tr>
			
			<tr>
				<td>
					Farbname:
				</td>
				
				<td>
					<input type="text" name="farbeneuname" />
				</td>
			</tr>
			
			<tr>
				<td colspan = "2">
					<div class="middle">
						<button class="bt-middle" type="submit">Einf&uuml;gen</button>
					</div>
				</td>
			</tr>
		</form>
		
		
		</table>
		
	{% endblock %}
