{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		
		<div>Farben</div>
		
		{{ test.fk_Farbe_ID }}
		{# Farben auswählen #}
		</br>
		</br>
		Sie k&ouml;nnen folgende Farben ausw&auml;hlen:
		</br>
		
		
		<form method="post" action="../php/farben.php">
			Platz frei:
			<select name="frei" >
				{% for key, value in farbarray %}
				
					<option 
						{% for key1, value1 in farbenaktuell %}
							{% if key1 == "frei" and value1 == key %} selected="selected" {% endif %}
						{% endfor %} 
						style="background-color:#{{ key }}" value="{{ key }}">{{ value }}
					</option>
				
				{% endfor %}
			</select>
			</br>
			</br>
			
			
			Platz besetzt:
			<select name="besetzt" >
				{% for key, value in farbarray %}
						
						<option 
							{% for key1, value1 in farbenaktuell %}
								{% if key1 == "besetzt" and value1 == key %} selected="selected" {% endif %}
							{% endfor %} 
							style="background-color:#{{ key }}" value="{{ key }}">{{ value }}
						</option>
						
				{% endfor %}
			</select>
			</br>
			</br>
			
			
			Platz gesperrt/geschlossen:
			<select name="zu" >
				{% for key, value in farbarray %}
				
					<option 
						{% for key1, value1 in farbenaktuell %}
							{% if key1 == "zu" and value1 == key %} selected="selected" {% endif %}
						{% endfor %} 
						style="background-color:#{{ key }}" value="{{ key }}">{{ value }}
					</option>
					
				{% endfor %}
			</select>
			</br>
			</br>
			
			
			Serien:
			<select name="serie" >
				{% for key, value in farbarray %}
				
					<option 
						{% for key1, value1 in farbenaktuell %}
							{% if key1 == "serie" and value1 == key %} selected="selected" {% endif %}
						{% endfor %} 
						style="background-color:#{{ key }}" value="{{ key }}">{{ value }}
					</option>
					
				{% endfor %}
			</select>
			</br>
			</br>
			
			
			Turnier:
			<select name="turnier" >
				{% for key, value in farbarray %}
						
					<option 
						{% for key1, value1 in farbenaktuell %}
							{% if key1 == "turnier" and value1 == key %} selected="selected" {% endif %}
						{% endfor %} 
						style="background-color:#{{ key }}" value="{{ key }}">{{ value }}
					</option>
				
				{% endfor %}
			</select>
			</br>
			</br>
			
			
			<input type="submit" value="Speichern">
			</br>
			</br>
		</form>
		
		{# Farben löschen #}
		<form method="post" action="../php/farben.php">
			Farbe l&ouml;schen:
			<select name="loeschen" >
				{% for key, value in farbarray %}
				<option style="background-color:#{{ key }}">{{ value }}</option>
				{% endfor %}
				
				<input type="submit" value="L&ouml;schen">
			</select>
			</br>
			</br>
		</form>
		
		{# Farben hinzufügen #}
		<form method="post" action="../php/farben.php">
			Farbe hinzuf&uuml;gen:
				<input type="text" name="farbeneu" />
				<input type="submit" value="Einf&uuml;gen">
			</select>
			</br>
			</br>
		</form>
		
		
	{% endblock %}
