{% extends "layout.twig" %}

	{% block body %}
		{{ parent() }}
		
		<div>Farben</div>
		
		{# Farben auswählen #}
		</br>
		</br>
		Sie k&ouml;nnen folgende Farben ausw&auml;hlen:
		</br>
		
		{% if fehlerleer %}
			<p class="box error">Es ist keine Farbe in der Datenbank vorhanden!</p>
		{% endif %}
		
		<table>
			<form method="post" action="../php/farben.php">
			
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "frei" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
					Platz frei:
					</td>
				
					<td>
						<select name="frei" >
							{% for key, value in farbarray %}
								
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "frei" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
								
							{% endfor %}
						</select>
					</td>
				</tr>
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "meins" %} style="background-color:{{ value }}"{% endif %}
						{% endfor %} >
						Platz von User besetzt:
					</td>
					
					<td>
						<select name="meins" >
							{% for key, value in farbarray %}
								
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "meins" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
								
							{% endfor %}
						</select>
					</td>
					
				</tr>
				
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "besetzt" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Platz besetzt:
					</td>
					
					<td>
						<select name="besetzt" >
							{% for key, value in farbarray %}
									
									<option 
										{% for key1, value1 in farbenaktuell %}
											{% if key1 == "besetzt" and value1 == key %} selected="selected" {% endif %}
										{% endfor %} 
										style="background-color:{{ key }}" value="{{ key }}">{{ value }}
									</option>
									
							{% endfor %}
						</select>
					</td>
				</tr>
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "zu" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Platz gesperrt/geschlossen:
					</td>
					
					<td>
						<select name="zu" >
							{% for key, value in farbarray %}
							
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "zu" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
								
							{% endfor %}
						</select>
					</td>
				</tr>
				
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "serie" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Serien:
					</td>
					
					<td>
						<select name="serie" >
							{% for key, value in farbarray %}
									
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "serie" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
							
							{% endfor %}
						</select>
					</td>	
				</tr>
				
				
				<tr>
					<td {% for key, value in farbenaktuell %}
							{% if key == "turnier" %} style="background-color:{{ value }}" {% endif %}
						{% endfor %} >
						Turnier:
					</td>
					
					<td>
						<select name="turnier" >
							{% for key, value in farbarray %}
									
								<option 
									{% for key1, value1 in farbenaktuell %}
										{% if key1 == "turnier" and value1 == key %} selected="selected" {% endif %}
									{% endfor %} 
									style="background-color:{{ key }}" value="{{ key }}">{{ value }}
								</option>
							
							{% endfor %}
						</select>
					</td>
				</tr>
				
			
			<tr>
				<td>
					<button type="submit">Speichern</button>
				</td>
			</tr>
			
			
		</form>
		
		
		<tr>
		
			<td>
			</td>
			<td>			
				{# Farben löschen #}
				{% if farbegeloescht %}
					<div class="">Die Farbe wurde gel&ouml;scht</div>
				{% endif %}
			</td>
		</tr>
		
		
		<form method="post" action="../php/farben.php">
			
			<tr>
				<td>Farbe l&ouml;schen:</td>
				
				<td>
					<select name="loeschen" >
						{% for key, value in farbarray %}
						<option style="background-color:{{ key }}" value="{{ key }}">{{ value }}</option>
						{% endfor %}
				</td>
				
				</select>
			</tr>
			
			<tr>
				<td>
					<button type="submit">L&ouml;schen</button>
				</td>
			</tr>
			
		</form>
		
		
		
		
		<form method="post" action="../php/farben.php">
			
			<tr>
				<td>
					Farbe hinzuf&uuml;gen:
				</td>
			</tr>
			
			
			
			{# Farben hinzufügen #}
			
			{# Fehler/Infos #}
			<tr>
				<td>
				</td>
				
				<td>
					{% if fehlercode %}
						<p class="box error">Der von Ihnen eingegebene Code ist kein g&uuml;ltiger Farbcode!</p>
					{% endif %}
						
					{% if fehlerlaenge %}
						<p class="box error">Der Farbcode muss aus # und 6 Hexadezimalstellen bestehen!</p>
					{% endif %}
					
					{% if fehlereingabe %}
						<p class="box error">Bitte f&uuml;llen Sie beide Felder!</p>
					{% endif %}
					
					{% if farbeaufgenommen %}
						<p class="box error">Die Farbe wurde ins System aufgenommen.</p>
					{% endif %}
				</td>
			</tr>
			
			
			<tr>
				<td>
					<div id="info">Info</div>
				</td>
			
				<td>
					<div id="infofeld">
						Der Farbcode besteht aus einer Raute (#) und vier Hexadezimalwerten. (z.B. #0099FF)
						</br>
						Hexadezimalwerte k&ouml;nnen Zahlen von 0-9 oder Buchstaben von A-F enthalten.
						</br>
						Die sechs Hexadezimalstellen setzen sich aus RGB (rot gr&uuml;n blau) zusammen, womit man alle Farben mischen kann.
						</br>
						Passende Farbtabellen sind einfach auf Google zu finden. Dazu einfach als Suchwort "HTML Farbtabelle" eingeben.
					</div>
				</td>
			</tr>
			
			<tr>
				<td>
					Farbcode:
				</td>
				
				<td>
					<input type="text" name="farbeneu" />
				</td>
			</tr>
			
			<tr>
				<td>
					Farbname:
				</td>
				
				<td>
					<input type="text" name="farbeneuname" />
				</td>
			</tr>
			
			<tr>
				<td>
					<button type="submit">Einf&uuml;gen</button>
				</td>
			</tr>
		</form>
		
		
		</table>
		
		
	{% endblock %}
