{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			  
		{% if resfehler %}
		
			<div class="ui-widget logfehler">
					<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; text-align: center">
						<p>
							<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
							</span>
								
							<strong>Achtung: </strong>
								
							Anzahl der t&auml;glichen Reservierungen bereits erreicht. Es sind heute keine weiteren Reservierungen mehr m$ouml;glich.
							Ansonsten bitte andere Reservierung l&ouml;schen.
								
						</p>
					</div>
				</div>
			<br />
		
		{% endif %}		  
			  
			{% set count = 0 %}	  
			
			{% for p in platz %}
				{% set count = count + 1 %}
			{% endfor %}
			{% if datum %}
				
				<table>
					<tr>
						<td></td>
						<td colspan={{ count }}><h2>Reservierungen am {{ formatdate }}</h2></td>
					</tr>
					
					
					<tr>
						<td></td>
						{% for p in platz %}
							<td class="tdown">
								<form id= "reservieren" method="post" action="../php/reservieren.php">
									{% if nores %}
										<input type="hidden" name="nores">
									{% endif %}
									<input type="hidden" name="pid" value="{{ p.Platz_ID }}">
									<input type="hidden" name="geklickt">
									<button type="submit">Platz {{ p.PlatzNr }}</button>
								</form>
							</td>
						{% endfor %}			
						
					</tr>
					
					{% for z in zeit.OffenVon..zeit.OffenBis-1 %}
						<tr>
							<td>{{ z }} Uhr</td>
							{% for p in platz %}
								{% set resart = 'frei' %}
								<td 
								{% if p.Gesperrt %}
									{% for key, value in farben %}
										{% if key == "zu" %} style="background-color:{{ value }}" {% endif %}
									{% endfor %} >
									{{ p.Kommentar }}
								{% else %}
									{% set voll = 0 %}
									{% for res in reservierungen %}
										{% if res.fk_Platz_ID == p.Platz_ID and z >= res.ReservierungVon and z < res.ReservierungBis %}
											{% for a in art %}
												{% if res.fk_Reservierungsart_ID == a.Reservierungsart_ID %}
													{% if online.mitglied_ID == res.fk_Mitglied_ID %}
														{% set resart = 'meins' %}
													{% elseif a.Reservierungsart == "Normal" %}
														{% set resart = 'besetzt' %}
													{% elseif a.Reservierungsart == "Turnier" %}
														{% set resart = 'turnier' %}
													{% elseif a.Reservierungsart == "Serie" %}
														{% set resart = 'serie' %}
													{% endif %}
												{% endif %}
											{% endfor %}
											{% for key, value in farben %}
												{% if key == resart %} style="background-color:{{ value }}" {% endif %}
											{% endfor %} >
											{% if benutzerrecht or online.mitglied_ID == res.fk_Mitglied_ID %}
												 {% for m in mitglieder %}
													{% if res.fk_Mitglied_ID == m.Mitglied_ID %}
													 	{{ m.Vorname }} {{ m.Nachname }}
													{% endif %}
												 {% endfor %}
											{% else %}	
												reserviert
											{% endif %}
											{% set voll = 1 %}
										{% endif %}
									{% endfor %}
									{% if voll == 0 %}
										{% for key, value in farben %}
											{% if key == "frei" %} style="background-color:{{ value }}" {% endif %}
										{% endfor %} >
										frei
									{% endif %}
								{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
					
				
				
				</table>
			{% else %}
				
				
			{% endif %}
			
	
		{% endblock %}
