{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			 
			
			</br>
			
			<div>
			{% if reservierungen != null %}
				<table>
					<th>
						<td>Datum</td>
						<td>von</td>
						<td>bis</td>
						<td>Platz</td>
						{% if benutzerrecht == 1 %}
						<td>Reserviert von</td>
						{% endif %}
						<td></td>
					</th>
				{% for res in reservierungen %}
            		<tr>
            			<td>{{ '' }}</td>
            			<td>{{ res.datum }}</td>
            			<td>{{ res.ReservierungVon }}</td>
            			<td>{{ res.ReservierungBis }}</td>
            			{% for pla in plaetze %}
            				{% if pla.platz_ID == res.fk_Platz_ID %}
            					<td>{{ pla.platzNr }}</td>
            				{% endif %}
            			{% endfor %}
            			
            			{% for mit in mitglieder %}
            				{% if mit.mitglied_ID == res.fk_Mitglied_ID %}
            					<td>{{ mit.vorname }} {{ mit.nachname }}</td>
            				{% endif %}
            			
            			{% endfor %}
            			
            			
            			
						<td>
							 <form id= "loeschen" method="post" action="../php/reservierungloeschen.php">
								<input type="hidden" name="{{ res.reservierung_ID }}">
								<button type="submit" class="ym-button ym-delete">L&ouml;schen</button>
							</form>
						</td> 
            			
            		</tr>
        		{% endfor %}
        		</table>
        	{% else %}
        		{{ 'Keine Reservierungen vorhanden' }}
        	{% endif %}
			</div>
			
			
			
		{% endblock %}