{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			 
			
			</br>
			
			<div>
			{% if res == null %}
				<table>
					<th>
						<td>Datum</td>
						<td>von</td>
						<td>bis</td>
						<td>Platz</td>
						<td>Reserviert von</td>
						{#<td>Mitspieler 1</td>
						<td>Mitspieler 2</td>
						<td>Mitspieler 3</td>
						<td>Mitspieler 4</td>#}
					</th>
				{% for res in reservierungen %}
				{# {% if res == 'begin' %}
						<tr>
					{% elseif res == 'end' %}
					<td>
						 <form id= "loeschen" method="post" action="../php/reservierungloeschen.php">
							<input type="hidden" name="{{ benID }}">
							<input type="submit" value="Loeschen">
						</form>
					</td> 
						</tr>
					{% else %}
            			<td> {{ res }} </td>
            		{% endif %} #}
            		<tr>
            			<td>{{ '' }}</td>
            			<td>{{ res.datum }}</td>
            			<td>{{ res.ReservierungVon }}</td>
            			<td>{{ res.ReservierungBis }}</td>
            			{% for pla in plaetze %}
            				{% if pla.platz_ID == res.fk_Platz_ID %}
            					<td>{{ pla.platzNr }}</td>
            				{% endif %}
            			{% endfor %}
            			
            			{% for mit in mitglieder %}
            				{% if mit.mitglied_ID == res.fk_Mitglied_ID %}
            					<td>{{ mit.platzNr }}</td>
            				{% endif %}
            			
            			{% endfor %}
            			
            		</tr>
        		{% endfor %}
        		{#}</tr>#}
        		</table>
        	{% else %}
        		{{ 'Keine Reservierungen vorhanden' }}
        	{% endif %}
			</div>
			
			
			
		{% endblock %}