{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}

			
			</br>
			
			<div>
			{% if reservierungen != null %}
				<table>
					<tr>
						<td>Datum</td>
						<td>von</td>
						<td>bis</td>
						<td>Platz</td>
						{% if benutzerrecht %}
						<td>Reserviert von</td>
						{% endif %}
						<td colspan="4">Mitspieler</td>
						<td>Kommentar</td>
						<td></td>
						<td></td>
					</tr>
				{% for res in reservierungen %}
            		<tr>
            			<td>      				
            				{% for key, value in date %}
            					{% if key == res.Datum %}
            						{{ value }}
            					{% endif %}
            				{% endfor %}
            			</td>
            			<td>{{ res.ReservierungVon }} Uhr</td>
            			<td>{{ res.ReservierungBis }} Uhr</td>
            			{% for pla in platz %}
            				{% if pla.Platz_ID == res.fk_Platz_ID %}
            					<td>{{ pla.PlatzNr }}</td>
            				{% endif %}
            			{% endfor %}
            		{% if benutzerrecht %}	
            			{% for mit in mitglieder %}
            				{% if mit.Mitglied_ID == res.fk_Mitglied_ID %}
            					<td>{{ mit.Vorname }} {{ mit.Nachname }}</td>
            				{% endif %}	
            			{% endfor %}
            		{% endif %}	
            			
            			<td>{{ res.S1 }}</td>
            			<td>{{ res.S2 }}</td>
            			<td>{{ res.S3 }}</td>
            			<td>{{ res.S4 }}</td>
            			<td>{{ res.Kommentar }}</td>
            			
            			
						<td>
							 <form id= "loeschen" method="post" action="../php/reservierungloeschen.php">
								<input type="hidden" name="resdelete" value="{{ res.Reservierung_ID }}">
								<input type="hidden" name="geklickt">
								<button type="submit">L&ouml;schen</button>
							</form>
						</td>
						<td>
							 <form id= "bearbeiten" method="post" action="../php/reservierungbearbeiten.php">
								<input type="hidden" name="resbearb" value="{{ res.Reservierung_ID }}">
								<input type="hidden" name="geklickt">
								<input type="hidden" name="bearbeiten">
								<button type="submit">Bearbeiten</button>
							</form>
						</td>  
            			
            		</tr>
        		{% endfor %}
        		</table>
        	{% else %}
        		<p class="box error">
        			{{ 'Keine Reservierungen vorhanden' }}
        		</p>
        	{% endif %}
			</div>
			
			
		{% endblock %}