{% extends "layout.twig" %}
		{% block title %}
			{{ parent() }}
			Pl&auml;tze
		{% endblock %}
		
        {% block body %}
			  {{ parent() }}
			
			</br>
			
			<div>
			{% if plaetze != null %}
				<table class="tables">
					<tr>
						<td>Platz-Nr</td>
						<td>Offen/Gesperrt</td>
						<td>Kommentar</td>
						<td>Gesperrt von</td>
						<td>Gesperrt bis</td>
						<td></td>
						<td></td>
					</tr>
				{% for pla in plaetze %}
            		<tr>
            			<td>{{ pla.PlatzNr }}</td>
            			{% if pla.Gesperrt == 0 %}
            				<td 
            				{% for key, value in farben %}
								{% if key == "frei" %} style="background-color:{{ value }}" {% endif %}
							{% endfor %} >
							Ge&ouml;ffnet</td>
            				<td></td>
            				<td></td>
            				<td></td>
            				<td>
							 	<form id= "sperren" method="post" action="../php/platzsperren.php">
									<input type="hidden" name="{{ pla.Platz_ID }}">
									<button type="submit">Sperren</button>
								</form>
							</td>
            			{% elseif pla.Gesperrt == 1 %}
            				<td
            				{% for key, value in farben %}
								{% if key == "zu" %} style="background-color:{{ value }}" {% endif %}
							{% endfor %} >
            				Gesperrt</td>
            				<td>{{ pla.Kommentar }}</td>
            				<td>{{ pla.GesperrtVon }}</td>
            				<td>{{ pla.GesperrtBis }}</td>
            				<td>
							 	<form id= "oeffnen" method="post" action="../php/platzfreigeben.php">
									<input type="hidden" name="{{ pla.Platz_ID }}">
									<button type="submit">Freigeben</button>
								</form>
							</td>
            			{% endif %}
            			
            			
            			
            			
            			 
						<td>
							 <form id= "loeschen" method="post" action="../php/platzloeschen.php">
								<input type="hidden" name="{{ pla.Platz_ID }}">
								<button type="submit">L&ouml;schen</button>
							</form>
						</td> 
            			
            		</tr>
        		{% endfor %}
        		
	        		<tr>
	        			<td colspan="2">
			        		<form id= "allessperren" method="post" action="../php/platzsperren.php">
			        			<input type="hidden" name="allessperren">
			        			<button type="submit">Alle Pl&auml;tze sperren</button>
							</form>
						</td>
						<td></td>
						<td colspan="2">
							<form id= "allesfreigeben" method="post" action="../php/platzfreigeben.php">
			        			<input type="hidden" name="allesfreigeben">
								<button type="submit">Alle Pl&auml;tze freigeben</button>
							</form>
						</td>
					</tr>
				</table>
        		
        		{% else %}
        			<p class="box error">
        				{{ 'Keine Pl&auml;tze vorhanden' }}
        			</p>
        		{% endif %}
        		
        		<table class="tables">
	        		<tr>
	        			<td>
	        				<b>Neuen Platz anlegen</b>
	        			</td>
	        			<td></td>
	        		</tr>
        			<tr>
        				<td>
        					Platz-Nummer:
        				</td>
        				<td>
			        		<form method="post" action="../php/plaetze.php">
								<input type="text" name="platznum" />
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
				   		    	<input type="hidden" name="neubestaetigt">
				   		    	<button type="submit">Platz anlegen</button>
							</form>
						</td>
					</tr>
				</table>
						
        	
			</div>
			
	
		{% endblock %}
