{% extends "layout.twig" %}
	{% block title %}
		{{ parent() }}
		Recht anlegen
	{% endblock %}
		
	{% block body %}
		{# Wenn der Benutzer angelegt wurde: #}
		{% if angelegt %}
		
			<div>
				Das Recht wurde angelegt.
				</br>
				</br>
				<form method="post" action="../php/rechtanlegen.php">
   		    		<input type="hidden" name="first">
   		    		<button type="submit">Recht anlegen</button>
				</form>
			</div>
		
		{# Wenn Recht für änderung des Benutzers vorhanden ist #}
		{% elseif rechtrecht == 1 %}
   		    
   		      
			<div>Recht anlegen:</div>
			</br>
			</br>
			
			
   		    <table>
				<form method="post" action="../php/rechtanlegen.php">
						
					<tr>
						<td>
							Rechtname:
						</td>
						
						<td>
							<input type="text" name="rechtname" value="{{ rechtname }}" /> 
						</td>
					</tr>
						 				 
					{# Stunden auswählen/anzeigen #}
					<tr>
						<td>
							Anzahl Stunden:
						</td>
						
						<td> 
							<select name="anzh" >
							 
								{% for x in 1..4 %}
									 	
									 <option>{{ x }} </option>
									 
								{% endfor %}
								<option>unbegrenzt</option>
								
							</select>
						</td>
					</tr>
					
						
						
					{# Plaetze auswählen/anzeigen #}
					<tr>
						<td>
							Anzahl Pl&auml;tze:
						</td>
						
						<td> 
							<select name="anzp" >
									 
								{% for x in 1..4 %}
									 	
									<option>{{ x }}</option>
									 
								{% endfor %}
								<option>unbegrenzt</option>
							</select>
						</td>
					</tr>
						
						
					{# Anzahl Reservierungen auswählen/anzeigen #}
					<tr>
						<td>
							Anzahl Reservierungen: 
						</td>
						
						<td>
							<select name="anzr" >
									 
								{% for x in 1..4 %}
									 	
									 <option>{{ x }}</option>
									 
								{% endfor %}
								<option>unbegrenzt</option>
							</select>
						</td>
					</tr>
						
						
					{# Anzahl der Tage, die man im Voraus reservieren kann auswählen/anzeigen #}
					<tr>
						<td>
							Anzahl Tage im Voraus:
						</td>
						
						<td> 
							<select name="tage" >
									 
								{% for x in 1..7 %}
									 	
									<option>{{ x }}</option>
									 
								{% endfor %}
								<option value="14">2 Wochen</option>
								<option value="99">unbegrenzt</option>
							</select>
						</td>
						
						
					{# Können Reservierungen gelöscht werden? #}
					<tr>
						<td>
							Reservierungen L&ouml;schen: 
						</td>
						
						<td>
							<select name="resloeschen" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
						
						
					{# Können Reservierungen verschoben werden? #}
					<tr>
						<td>
							Reservierungen verschieben:
						</td>
						
						<td> 
							<select name="resverschieben" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
					
						
						
					{# Können Benutzer verwaltet werden? #}
					<tr>
						<td>
							Benutzer verwalten:
						</td>
						
						<td> 
							<select name="benverwalten" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
					
						
						
					{# Können Benutzer Rechte verwalten? #}
					<tr>
						<td>
							Rechte verwalten: 
						</td>
						
						<td>
							<select name="rechteverteilen" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
						
					
					{# Können Benutzer Plätze verwalten? #}
					<tr>
						<td>
							Pl&auml;tze verwalten: 
						</td>
						
						<td>
							<select name="platzverwalten" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
						
					
					{# Kann Saison/Öffnungszeiten festgelegt werden? #}
					<tr>
						<td>
							Zeiten verwalten: 
						</td>
						
						<td>
							<select name="saisonfestlegen" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
						
						
					{# Können Serien reserviert werden? #}
					<tr>
						<td>
						Serien reservieren: 
						</td>
						
						<td>
							<select name="serienreservieren" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
						
					
					{# Können Farben ausgewählt werden? #}
					<tr>
						<td>
							Design &auml;ndern: 
						</td>
						
						<td>
							<select name="farbefestlegen" >
								<option value="0">Nein</option>
								<option value="1">Ja</option>
							</select>
						</td>
					</tr>
						
						
					<tr>
						<td>
							 
						</td>
						
						<td>
							<button type="submit">Speichern</button>
						</td>
					</tr>
				
				</form> 
			</table>	
			
		{% endif %}	
	{% endblock %}
