{% extends "layout.twig" %}

        {% block body %}
			{{ parent() }}

				
			<form method="post" action="../php/rechte.php">
			
				{# Recht auswählen #}
				{% if aendern != 1 %}
				
					 Recht ausw&auml;hlen: 
					 
					 <select name="rechtnamen" >
					 	{% for key, value in rechtarray %}
					 	
					    	<option {% if gewaehltesrecht.rechtName == key %}selected="selected"{% endif %} value="{{ value }}">{{ key }}</option>
					 		
					 	{% endfor %}
					 </select>
					 
				 {% else %}
					 Recht: {{ gewaehltesrecht.rechtName }}
					 <input type="hidden" name="{{ gewaehltesrecht.rechtName }}">
				 {% endif %}
				 
				 </br>
				 </br>
				 
				 				 
				 {# Stunden auswählen/anzeigen #}
				 Anzahl Stunden: 
				 {% if aendern == 1 %}
		
					 <select name="anzh" >
					 
					 {% for x in 1..4 %}
					 	
					     <option {% if gewaehltesrecht.anzahlStunden == x %}selected="selected"{% endif %} >{{ x }}</option>
					 
					 {% endfor %}
					 
					 <option {% if gewaehltesrecht.anzahlStunden == 99 %}selected="selected"{% endif %} >unbegrenzt</option>
					 </select>
					 
				{% elseif gewaehltesrecht.anzahlStunden == 99 %}
				
					unbegrenzt
					
				{% else %}
				
					{{ gewaehltesrecht.anzahlStunden }}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Plaetze auswählen/anzeigen #}
				
				 Anzahl Pl&auml;tze: 
				 {% if aendern == 1 %}
		
					 <select name="anzp" >
					 
					 {% for x in 1..4 %}
					 	
					     <option {% if gewaehltesrecht.anzahlPlaetze == x %}selected="selected"{% endif %} >{{ x }}</option>
					 
					 {% endfor %}
					 
					 <option {% if gewaehltesrecht.anzahlPlaetze == 99 %}selected="selected"{% endif %} >unbegrenzt</option>
					 </select>
					 
				{% elseif gewaehltesrecht.anzahlPlaetze == 99 %}
				
					unbegrenzt
					
				{% else %}
				
					{{ gewaehltesrecht.anzahlPlaetze }}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Anzahl Reservierungen auswählen/anzeigen #}
				
				 Anzahl Reservierungen: 
				 {% if aendern == 1 %}
		
					 <select name="anzr" >
					 
					 {% for x in 1..4 %}
					 	
					     <option {% if gewaehltesrecht.anzahlReservierungen == x %}selected="selected"{% endif %} >{{ x }}</option>
					 
					 {% endfor %}
					 
					 <option {% if gewaehltesrecht.anzahlReservierungen == 99 %}selected="selected"{% endif %} >unbegrenzt</option>
					 </select>
					 
				{% elseif gewaehltesrecht.anzahlReservierungen == 99 %}
				
					unbegrenzt
					
				{% else %}
				
					{{ gewaehltesrecht.anzahlReservierungen }}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Anzahl der Tage, die man im Voraus reservieren kann auswählen/anzeigen #}
				
				 Anzahl Tage im Voraus: 
				 {% if aendern == 1 %}
		
					 <select name="tage" >
					 
					 {% for x in 1..7 %}
					 	
					     <option {% if gewaehltesrecht.tageVoraus == x %}selected="selected"{% endif %} >{{ x }}</option>
					 
					 {% endfor %}
					 
					 <option {% if gewaehltesrecht.tageVoraus == 99 %}selected="selected"{% endif %} >unbegrenzt</option>
					 </select>
					 
				{% elseif gewaehltesrecht.tageVoraus == 99 %}
				
					unbegrenzt
					
				{% else %}
				
					{{ gewaehltesrecht.tageVoraus }}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Können Reservierungen gelöscht werden? #}
				
				 Reservierungen L&ouml;schen: 
				 {% if aendern == 1 %}
		
					 <select name="resloeschen" >
					 
					     <option {% if gewaehltesrecht.reservierungLoeschen == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.reservierungLoeschen == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.reservierungLoeschen == 0 %}
						Nein
					{% elseif gewaehltesrecht.reservierungLoeschen == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Können Reservierungen verschoben werden? #}
				
				 Reservierungen verschieben: 
				 {% if aendern == 1 %}
		
					 <select name="resverschieben" >
					 
					     <option {% if gewaehltesrecht.reservierungVerschieben == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.reservierungVerschieben == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.reservierungVerschieben == 0 %}
						Nein
					{% elseif gewaehltesrecht.reservierungVerschieben == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Können Benutzer verwaltet werden? #}
				
				 Benutzer verwalten: 
				 {% if aendern == 1 %}
		
					 <select name="benverwalten" >
					 
					     <option {% if gewaehltesrecht.benutzerVerwalten == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.benutzerVerwalten == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.benutzerVerwalten == 0 %}
						Nein
					{% elseif gewaehltesrecht.benutzerVerwalten == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Können Benutzer Rechte verwalten? #}
				
				 Rechte verwalten: 
				 {% if aendern == 1 %}
		
					 <select name="rechteverteilen" >
					 
					     <option {% if gewaehltesrecht.rechteVerteilen == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.rechteVerteilen == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.rechteVerteilen == 0 %}
						Nein
					{% elseif gewaehltesrecht.rechteVerteilen == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				{# Können Benutzer Plätze verwalten? #}
				
				 Pl&auml;tze verwalten: 
				 {% if aendern == 1 %}
		
					 <select name="platzverwalten" >
					 
					     <option {% if gewaehltesrecht.platzVerwalten == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.platzVerwalten == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.platzVerwalten == 0 %}
						Nein
					{% elseif gewaehltesrecht.platzVerwalten == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				{# Kann Saison/Öffnungszeiten festgelegt werden? #}
				
				 Zeiten verwalten: 
				 {% if aendern == 1 %}
		
					 <select name="saisonfestlegen" >
					 
					     <option {% if gewaehltesrecht.saisonFestlegen == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.saisonFestlegen == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.saisonFestlegen == 0 %}
						Nein
					{% elseif gewaehltesrecht.saisonFestlegen == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				{# Können Serien reserviert werden? #}
				
				 Serien reservieren: 
				 {% if aendern == 1 %}
		
					 <select name="serienreservieren" >
					 
					     <option {% if gewaehltesrecht.serienReservieren == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.serienReservieren == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.serienReservieren == 0 %}
						Nein
					{% elseif gewaehltesrecht.serienReservieren == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				{# Können Farben ausgewählt werden? #}
				
				 Design &auml;ndern: 
				 {% if aendern == 1 %}
		
					 <select name="farbefestlegen" >
					 
					     <option {% if gewaehltesrecht.farbeFestlegen == 0 %}selected="selected"{% endif %} value="0" >Nein</option>
					     <option {% if gewaehltesrecht.farbeFestlegen == 1 %}selected="selected"{% endif %} value="1" >Ja</option>
					 
					 </select>
					 
				{% else %}
				
					{% if gewaehltesrecht.farbeFestlegen == 0 %}
						Nein
					{% elseif gewaehltesrecht.farbeFestlegen == 1 %}
						Ja
					{% endif %}
					
				{% endif %}
				</br>
				</br>
				
				
				{# Änderungen bestätigen Button #}	
				{% if aendern == 1 %}
					<input type="submit" value="Speichern">
				{% endif %}
				 
				 
				 {# Recht ändern Button #}
				{% if aendern != 1 %}
	    
	   	   		 	<input type="hidden" name="aendern">
					<input type="submit" value="&Auml;ndern">
		
				{% endif %}	
			 </form>
			 
			 </br>
			 </br>
			  
				 
			{# Recht anlegen Button #}
			{% if benutzerrecht == 1 %}
	    
	   		    <form method="post" action="../php/rechtanlegen.php">
					<input type="submit" value="Recht anlegen">
				</form> 
		
			{% endif %}	
			
			
			{# Recht löschen Button #}
			{% if aendern == 1 %}
	    
	   		    <form id= "loeschen" method="post" action="../php/rechtloeschen.php">
	   		    	<input type="hidden" name="{{ gewaehltesrecht.recht_ID }}">
					<input type="submit" value="Recht l&ouml;schen">
				</form> 
	
			{% endif %}	
			
			
			
	
	{% endblock %}
