{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			  
		{% if reservierungen %}
			
			<table>
				<th>
					
					
					{% for p in platz %}
						<td class="tdown">Platz {{ p.PlatzNr }}</td>
						<td></td>
					{% endfor %}			
					
				</th>
				
				{% for z in zeit.OffenVon..zeit.OffenBis %}
					<tr>
						<td>{{ z }} Uhr</td>
						{% for p in platz %}
							<td 
							{% if p.Gesperrt %}
								{% for key, value in farben %}
									{% if key == "zu" %} style="background-color:{{ value }}" {% endif %}
								{% endfor %} >
								{{ p.Kommentar }}
							{% else %}
								{% set voll = 0 %}
								{% for res in reservierungen %}
									{% if res.fk_Platz_ID == p.Platz_ID and z >= res.ReservierungVon and z < res.ReservierungBis %}
										{% for key, value in farben %}
											{% if key == "besetzt" %} style="background-color:{{ value }}" {% endif %}
										{% endfor %} >
										{% if benutzerrecht %}
											 {% for m in mitglieder %}
												{% if res.fk_Mitglied_ID == m.Mitglied_ID %}
												 	{{ m.Vorname }} {{ m.Nachname }}
												{% endif %}
											 {% endfor %}
										{% else %}	
											reserviert
										{% endif %}
										{% set voll = 1 %}
									{% endif %}
								{% endfor %}
								{% if voll == 0 %}
									{% for key, value in farben %}
										{% if key == "frei" %} style="background-color:{{ value }}" {% endif %}
									{% endfor %} >
									frei
								{% endif %}
							{% endif %}
							</td>
							<td>
								<form id= "reservieren" method="post" action="../php/resformular.php">
									<input type="hidden" name="{{ p.platz_ID }}">
									<input type="hidden" name="geklickt">
									<button type="submit" class="ym-button ym-spark">reservieren</button>
								</form>
							</td>
						
						{% endfor %}
						
					</tr>
				{% endfor %}
				
				
				
				
				

			</table>
			
			
			
			{% else %}
				
				
			{% endif %}
			
			
			
			
	
		{% endblock %}
