{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			  
			  <h2>Reservieren ab {{ time }} Uhr f&uuml;r Platz {{ platz.PlatzNr }} am {{ formatdate }}</h2>
		
		{% if falsch %}
			
			<div class="ui-widget logfehler">
						<div class="ui-state-error ui-corner-all" style="padding: 0 .7em; text-align: center">
							<p>
								<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;">
								</span>
								
								<strong>Achtung: </strong>
								
								Reservierungen &uuml;berschneiden sich, bitte anderen End-Zeitpunkt w&auml;hlen!
								
							</p>
						</div>
					</div>
			
			
		{% endif %}
		
			  
		<form method="post" action="../php/resformular.php">
			<table>

			  	
			  	<tr>
			    	<td>
			    		Reservieren bis
			    	</td>
			    	
			    	<td>
			    		<select name="resbis" >
							
							{% for i in time+1..zeit.OffenBis %}
							<option value="{{ i }}">
								{{ i }} Uhr
							</option>
							{% endfor %}
					
						</select>
			    	</td>
			  	</tr>
			  	
			  	{% if benutzerrecht %}
			  		<tr>
						<td>
							Reservieren f&uuml;r:
						</td>
					
						<td>
							<select name="resfuer" >
								{% for m in mitglieder %}
									<option {% if online.mitglied_ID == m.Mitglied_ID %} selected="selected" {% endif %} value="{{ m.Mitglied_ID }}">
										{{ m.Vorname }} {{ m.Nachname }}
									</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					
					<tr>
						<td>
							Art der Reservierung:
						</td>
					
						<td>
							<select name="art" >
								{% for a in art %}
									<option value="{{ a.Reservierungsart_ID }}">
										{{ a.Reservierungsart }}
									</option>
								{% endfor %}
							</select>
						</td>
					</tr>
			  	{% endif %}
				  	<tr>
						<td>
							Mitspieler 1:
						</td>
						
						<td>
							<input type="text" name="m1" />
						</td>
					</tr>
					<tr>
						<td>
							Mitspieler 2:
						</td>
						
						<td>
							<input type="text" name="m2" />
						</td>
					</tr>
					<tr>
						<td>
							Mitspieler 3:
						</td>
						
						<td>
							<input type="text" name="m3" />
						</td>
					</tr>
					<tr>
						<td>
							Mitspieler 4:
						</td>
						
						<td>
							<input type="text" name="m4" />
						</td>
					</tr>	
					<tr>
						<td>
							Kommentar:
						</td>
						
						<td>
							<input type="text" name="kommentar" />
						</td>
					</tr>		  	
			  	
			  	
			  	
			</table>
			<input type="hidden" name="pid" value="{{ platz.Platz_ID }}">
			<input type="hidden" name="resvon" value="{{ time }}">
			<input type="hidden" name="reserviert">
			<button type="submit">Reservieren</button>
			</form>
			
			
			
			
	
		{% endblock %}
