{% extends "layout.twig" %}

        {% block body %}
			  {{ parent() }}
			  
			  Reservieren von {{ time }} Uhr f&uuml;r Platz {{ platz }} am {{ datum }}
			  
		<form method="post" action="../php/resformular.php">
			<table>
			

			  	
			  	<tr>
			    	<td>
			    		Reservieren bis
			    	</td>
			    	
			    	<td>
			    		<select name="resbis" >
							
							{% for i in 6..22 %}
							<option {% if zeit.offenBis == i %} selected="selected" {% endif %} value="{{ i }}">
								{{ i }} Uhr
							</option>
							{% endfor %}
					
						</select>
			    	</td>
			  	</tr>
			  	
			  	{% if benutzerrecht %}
			  		<tr>
						<td>
							Reservieren f&uuml;r:
						</td>
					
						<td>
							<select name="resfuer" >
								{% for m in mitglieder %}
									<option  value="{{ m.Mitglied_ID }}">
										{{ m.Vorname }} {{ m.Nachname }}
									</option>
								{% endfor %}
							</select>
						</td>
					</tr>
			  		
			  		
			  		
			  	{% endif %}			  	
			  	
			  	
			  	
			</table>
			<input type="hidden" name="resvon" value={{ time }}>
			<input type="hidden" name="reserviert">
			<button type="submit" class="ym-button ym-save">Reservieren</button>
			</form>
			
			
			
			
	
		{% endblock %}
